/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "ng-app/main";


path {
fill: #ccc;
  stroke: #000000;
  stroke-width: 1px;
}

path:hover {
  fill: red;
}


/*
path {
  stroke-linejoin: round;
  stroke-linecap: round;
}
*/
.background {
  fill: none;
  stroke: #ddd;
}

.foreground {
  fill: none;
  pointer-events: all;
}

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  stroke-linejoin: round;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }

.bill-frame {
  margin: 5px 0px;
  background-color: #f9f9f9;
}

.selected {
  fill: #F08C00;
}

.bold-border {
  font-weight: bold;
  border: 2px solid #000000;
  margin-left: 65%;
}

.map-container {
  padding: 0px;
  margin: 0px auto;
  width: 50%;
  height: 50%;
}
