<div ng-include="'navbar.html'" ></div>
<div style="position:relative; width:100%;" class="container">
  <h1>About YeaNayers</h1>
  <div>
    <p>For responsible Americans interested in learning who they should vote for, the YeaNayers app is a searchable database of voting records that shows how each member of Congress voted on a bill (yea or nay). Unlike other plain voting record sites, this will be a visually interactive web application giving you both an entertaining and educational experience.</p>
  </div>
</div>