<div class="bill-frame" ng-repeat="bill in bills" ng-click="findVoteRollCall(bill)">
  <p style="font-weight:bold;">{{bill.title}}</p>
  <p>{{bill.current_status_label}}</p>
  <p>Status Date: {{bill.current_status_date}}</p>
  <p>Status Description: {{bill.current_status_description}}</p>
  <div ng-show="bill.voteInfo">
    <p>{{bill.sponsor.id}}</p>
    <p>{{bill.sponsor.name}}</p>
    <p><img ng-src="https://www.govtrack.us/data/photos/{{bill.sponsor.id}}-100px.jpeg" /></p>
  </div>
</div>
